<%= form_for(@bjond_registration) do |f| %>
  <% if @bjond_registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bjond_registration.errors.count, "error") %> prohibited this bjond_registration from being saved:</h2>

      <ul>
      <% @bjond_registration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <span class="label">
      Server:
    </span>
    <%= f.text_field :server %>
  </div>
  <div class="field">
    <span class="label">
      IP
    </span>
    <%= f.text_field :ip %>
  </div>
  <div class="field">
    <span class="label">
      Host
    </span>
    <%= f.text_field :host %>
  </div>

  <div class="field">
    <span class="label">
      Encryption Key
    </span>
    <%= f.text_field :encryption_key %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
