<div class="app-info">
  <div class="app-info-header">
    <%= image_tag @app_info.iconURL %>
    <h2 class="app-name"><%= @app_info.name %></h2>
  </div>


  <div class="field-wrapper">
    <div class="app-label">Description:</div>
    <div class="info"><%= @app_info.description %></div>
  </div>

  <div class="field-wrapper">
    <div class="app-label">Config URL:</div>
    <div class="info"><%= @app_info.configURL %></div>
  </div>

  <div class="field-wrapper">
    <div class="app-label">Root Endpoint:</div>
    <div class="info"><%= @app_info.rootEndpoint %></div>
  </div>

  <div class="field-wrapper">
    <div class="app-label">Author:</div>
    <div class="info"><%= @app_info.author %></div>
  </div>

  <div class="field-wrapper">
    <div class="app-label">ID:</div>
    <div class="info"><%= @app_info.id %></div>
  </div>


  </br>

  <% if @app_info.integrationEvent.count > 0 %>
    <h2> Events (Conditions) </h2>
    <div class="events">
      <% @app_info.integrationEvent.each do |event| %>
        <div class="event">
          <h4><%= event.name %></h4>
          
          <div class="field-wrapper">
            <div class="app-label">Description:</div>
            <div class="info"><%= event.description %></div>
          </div>

          <div class="field-wrapper">
            <div class="app-label">jsonKey:</div>
            <div class="info"><%= event.jsonKey %></div>
          </div>
          
          <h3>Fields:</h3>
          <div class="fields">
            <% event.fields.each do |field| %>
              <div class="field">
                <div class="field-wrapper">
                  <div class="app-label">Field Name:</div>
                  <div class="info new-section"><%= field.name %></div>
                </div>
                <div class="field-wrapper">
                  <div class="app-label">ID:</div>
                  <div class="info"><%= field.id %></div>
                </div>
                <div class="field-wrapper">
                  <div class="app-label">Json Key:</div>
                  <div class="info"><%= field.jsonKey %></div>
                </div>
                <div class="field-wrapper">
                  <div class="app-label">Field Type:</div>
                  <div class="info"><%= field.fieldType %></div>
                </div>

                <% if field.persist %>
                  <div class="field-wrapper">
                    <strong>Marked for Persistence</strong>
                  </div>
                  <div class="field-wrapper">
                    <div class="app-label">Data Type:</div>
                    <div class="info"><%= field.dataType %></div>
                  </div>
                <% elsif field.fieldType != 'Person' %>
                  <div class="field-wrapper">
                    <span>Not marked for persistence</span>
                  </div>
                <% end %>
                <% if field.identifier && field.fieldType == 'Person' %>
                  <div class="field-wrapper">
                    <strong>Event Person Identifier</strong>
                  </div>
                <% end %>
              </div>
              <hr>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

  <% else %>
    <div class="non-available">
      No events are currently available for this app.
    </div>
  <% end %>

  <% if @app_info.integrationConsequence.count > 0 %>
    <h2> Consequences </h2>
    <div class="consequences">
      <% @app_info.integrationConsequence.each do |consequence| %>
        <div class="consequence">
          <h4><%= consequence.name %></h4>

          <div class="field-wrapper">
            <div class="app-label">ID:</div>
            <div class="info"><%= consequence.id %></div>
          </div>

          <div class="field-wrapper">
            <div class="app-label">Json Key:</div>
            <div class="info"><%= consequence.jsonKey %></div>
          </div>
          <div class="field-wrapper">
            <div class="app-label">Description:</div>
            <div class="info"><%= consequence.description %></div>
          </div>

          <div class="field-wrapper">
            <div class="app-label">Webhook:</div>
            <div class="info"><%= consequence.webhook %></div>
          </div>

        </div>
      <% end %>
    </div>
  <% else %>
    <div class="consequence non-available">
      No consequences are available for this app.
    </div>
  <% end %>
</div>